div
    table
        thead
            tr: th sc
        tbody
            each post, i in
                tr
                    td
                        a(href='./table/data/ + post.sc')

    script.

